body
{
align=center;
  margin: 90px;
  border: 3px solid black;
}

#sa
{
    background-color: #e8d49b;
    height: 820px;
    padding-top: 10px;
}

#ma
{
    align: center;
    height: 540px;
    margin: 70px;
    border: 3px solid black;
    padding-top: 50px;
}

h1
{
    Font face=arial,helvetica;
    text-align:center;
    font-size: 24px;
}

p
{
    /*text-align:right;*/
    Font face=arial,helvetica;
    font-size: 18px;
    padding-left: 350px;
}

table, tr
{
    height: 70%;
    width: 50%;
    text-align:right;
    border: 3px solid black;
    border-collapse: collapse;
}

tr, td {
    padding: 5px;
}

select
{
    width: 100%;
    border: none;
    background-color: white;
}

input
{
    border: none;
    float: left;
    width: 100%;
}

#textBox
{
    background-color: white;
    height: 70%;
    width: 60%;
    text-align:right;
    border: 3px solid black;
    border-collapse: collapse;
}

#localAddress
{
    line-height: 40px;
}

#done
{
    text-align:center; 
    border: 3px solid black;
    background-color: white;
    margin: 40px;
}

#done:hover
{
    background-color: white;
}

